.regresar, .siguiente{
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 2rem;
}
.regresar:hover{
  translate: -0.5rem 0;
}
.regresar::after{
  content: "Regresar";
  position: absolute;
  font-size: 0.9rem;
  translate: 1rem 0.25rem;
  opacity: 0;
  transition: all 0.2s ease;
}
.siguiente:hover{
  translate: 0.5rem 0;
}
.siguiente::before{
  content: "Siguiente";
  position: absolute;
  font-size: 0.9rem;
  translate: -4.5rem 0.25rem;
  opacity: 0;
  transition: all 0.2s ease;
}

.regresar:hover::after{
  opacity: 1;
  translate: 0.5rem 0.25rem;
}
.siguiente:hover::before{
  opacity: 1;
  translate: -4rem 0.25rem;
}